@model TrustMyCar.ViewModels.CarViewModel

@{
    ViewData["Title"] = "Autó adatok";
}

<h2>Új autó felvétele</h2> <br />

@using (Html.BeginForm("CarDetail", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @: Márka <br />
    <input type="text" name="brand" value="@Model.Brand" /> <br />
    <font color="red">
        @Html.ValidationMessageFor(m => m.Brand)
    </font> <br />

    @: Modell <br />
    <input type="text" name="carmodel" value="@Model.CarModel" /> <br />
    <font color="red">
        @Html.ValidationMessageFor(m => m.CarModel)
    </font> <br />

    @: Típus <br />
    <input type="text" name="type" value="@Model.Type" /> <br />
    <font color="red">
        @Html.ValidationMessageFor(m => m.Type)
    </font> <br />

    @: Motor mérete <br />
    <input type="number" name="cubiccapacity" value="@Model.CubicCapacity" /> <br />
    <font color="red">
        @Html.ValidationMessageFor(m => m.CubicCapacity)
    </font> <br />

    @: Lóerő <br />
    <input type="number" name="power" value="@Model.Power" /> <br />
    <font color="red">
        @Html.ValidationMessageFor(m => m.Power)
    </font> <br />

    @: Kilóméter állás <br />
    <input type="number" name="kilometer" value="@Model.Kilometer" /> <br />
    <font color="red">
        @Html.ValidationMessageFor(m => m.Kilometer)
    </font> <br />

    @: Gyártási év <br />
    @*<input type="date" name="date" value="@Model.Date" /> <br />*@
    <input asp-for="Date" />
    @*@Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "datepicker", @Value = Model.Date.ToString("yyyy/MM/dd") } })*@
    <font color="red">
        @Html.ValidationMessageFor(m => m.Date)
    </font> <br /><br />

    @:  Üzemanyag <br />
    @Html.DropDownList("FuelType",
    Html.GetEnumSelectList<TrustMyCar.Utils.Enums.FuelType>())
    <br />
    <font color="red">
        @Html.ValidationMessageFor(m => m.FuelType)
    </font> <br />

    @: Leírás <br />
    <textarea type="text" name="description" placeholder="Leírás....." value="@Model.Description" cols="40" rows="5">@Model.Description</textarea> <br />
    <font color="red">
        @Html.ValidationMessageFor(m => m.Description)
    </font> <br />

    @: Fénykép <br />
    <input type="file" name="image" /> <br />

    <input hidden type="number" name="id" value="@Model.Id" />
    <input type="submit" value="Mentés" />
}




